<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="O Lar das receitas malucas de Alexandre" />
  <meta name="keywords"
    content="Receitas, Livro de receitas, comida, food, recipes, recipe book, guloseimas, fast food, doces, salgados, salgadinhos, docinhos" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Receitas Alexandricas</title>
  <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../src/css/style.css" />

</head>

<body>
  <header id="cabecalho">
    <div class="container">
      <figure>
        <a href="../index.html">
          <img src="../assets/img/logo.png" alt="Logo do site" width="25%" />
        </a>
        <figcaption>Logo do site - Receitas Alexandricas</figcaption>
      </figure>
      <nav class="menu">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./sobre.html">Sobre</a></li>
          <li><a href="./receitas.html">Receitas</a></li>
          <li><a href="./contato.html">Contato</a></li>
        </ul>
      </nav>
      <section class="title">
        <h1>Receitas Alexandricas</h1>
      </section>
    </div>
  </header>

  <main id="principal">
    <div class="container">
      <h1>Bolo de Cenoura</h1>

      <h3> Ingredientes </h3>
      <ul>
        <li>
          <p>4 Ovos</p>
        </li>
        <li>
          <p>1/2 Xicara de chá de óleo</p>
        </li>
        <li>
          <p>3 Cenouras</p>
        </li>
        <li>
          <p>2 Xicaras de chá de açucar</p>
        </li>
        <li>
          <p>1 Colher de sopa de fermento em pó</p>
        </li>
        <li>
          <p>2 Xicaras e 1/2 de chá de farinha</p>
        </li>
      </ul>

      <h3> Cobertura de chocolate </h3>
      <ul>
        <li>
          <p>1 colher de sopa de manteiga</p>
        </li>
        <li>
          <p>3 colheres de sopa de chocolate em pó</p>
        </li>
        <li>
          <p>1 Xicaras de chá de açucar</p>
        </li>
        <li>
          <p>5 Colheres de sopa de leite</p>
        </li>
      </ul>

      <h3> Modo de preparo do bolo</h3>
      <ul>
        <li>
          <p>Bata no liquidificador as cenouras, os ovos e o óleo. Misture com o açúcar, a farinha e o fermento. Asse a
            180°C por cerca de 40 minutos, Após isso, seu bolo estára pronto.</p>
        </li>
      </ul>

      <h3> Modo de preparo da Cobertura</h3>
      <ul>
        <li>
          <p>Faça a cobertura levando os ingredientes ao fogo até engrossar e despeje sobre o bolo.</p>
        </li>
      </ul>
    </div>
  </main>


  <p><a href="../index.html">← Voltar</a></p>

  <footer id="rodape">
    <div class="container">
      <p>&copy; 2026 Receitas Alexandricas - Todos os direitos reservados.</p>
    </div>
  </footer>
</body>

</html>